<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>vmtk - the Vascular Modeling Toolkit</title>
  <meta http-equiv='Content-Style-Type' content='text/css' />
  <link rel='stylesheet' href='/css/vmtk.css' type='text/css' />
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29589511-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>
</head>
<body>
  <div id='vmtkmaintitle'><a href='/index.html'>vmtk</a></div>
  <div id='vmtkhead'><a href='http://github.com/vmtk/vmtk'>Fork vmtk on github</a></div>
  <table id='vmtkmid' width='100%' cellspacing='0' cellpadding='0'>
    <tr>
      <td id='vmtkleft' valign='top'>
        <a href='http://github.com/vmtk/vmtk'>github.com</a>
        <p class='sidehead vspace'><a href='/index.html'>vmtk</a></p>
        <ul>
          <li><a href='/Main/Overview/'>Overview</a></li>
          <li><a href='/Main/Download/'>Download</a></li>
          <li><a href='/Main/Installation/'>Installation</a></li>
          <li><a href='/Main/Documentation/'>Documentation</a></li>
          <li><a href='/Main/Tutorials/'>Tutorials</a></li>
          <li><a href='/Main/Screenshots/'>Screenshots</a></li>
          <li><a href='https://lists.sourceforge.net/lists/listinfo/vmtk-users'>Mailing list</a></li>
          <li><a href='https://github.com/vmtk/vmtk'>Repository</a></li>
        </ul>
        <p class='sidehead vspace'>support</p>
        <ul>
          <li><a href='http://www.orobix.com'>Orobix</a></li>
        </ul>
        <p class='sidehead vspace'>links</p>
        <ul>
          <li><a href='http://www.vtk.org'>VTK</a></li>
          <li><a href='http://www.itk.org'>ITK</a></li>
          <li><a href='http://www.slicer.org'>3DSlicer</a></li>
          <li><a href='http://www.cmake.org'>CMake</a></li>
          <li><a href='http://www.python.org'>Python</a></li>
          <li><a href='http://www.paraview.org'>Paraview</a></li>
          <li><a href='http://www.fenicsproject.org'>FEniCS</a></li>
          <li><a href='http://savannah.nongnu.org/projects/pyformex/'>pyFormex</a></li>
          <li><a href='http://oomph-lib.maths.man.ac.uk/doc/html/index.html'>oomph-lib</a></li>
        </ul>
      </td>
      <td id='vmtkbody' valign='top'>
        <div id='vmtktext'>
          {{ content }}
        </div>
      </td>
    </tr>
  </table>
  <div id='vmtkfoot'>
    <div class='footnav'>
      <br>
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">This website</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://lantiga.github.com" property="cc:attributionName" rel="cc:attributionURL">Luca Antiga</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
    </div>
  </div>
</body>
</html>
