<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>vmtk</title>
  <meta http-equiv='Content-Style-Type' content='text/css' />
  <link rel='stylesheet' href='css/vmtk.css' type='text/css' />
</head>
<body>
  <div id='vmtkmaintitle'><a href='index.html'>vmtk</a></div>
  <div id='vmtkhead'>Fork on <a href='http://github.com/vmtk/vmtk'>github</a></div>
  <table id='vmtkmid' width='100%' cellspacing='0' cellpadding='0'>
    <tr>
      <td id='vmtkleft' valign='top'>
        <a href='http://github.com/vmtk/vmtk'>github.com</a>
        <p class='sidehead vspace'><a href='index.html'>vmtk</a></p>
        <ul>
          <li><a href='about.html'>About</a></li>
          <li><a href='download.html'>Download</a></li>
          <li><a href='install.html'>Install</a></li>
          <li><a href='tutorials.html'>Tutorials</a></li>
          <li><a href='documentation.html'>Documentation</a></li>
        </ul>
        <p class='sidehead vspace'>links</p>
        <ul>
          <li><a href='www.vtk.org'>VTK</a></li>
          <li><a href='www.itk.org'>ITK</a></li>
          <li><a href='www.slicer.org'>3DSlicer</a></li>
        </ul>
      </td>
      <td id='vmtkbody' valign='top'>
        <div id='vmtktext'>
          {{ content }}
        </div>
      </td>
    </tr>
  </table>
  <div id='vmtkfoot'>
    <div class='footnav'>
      Copyright <a href='lantiga.github.com'>Luca Antiga</a> (<a href='www.orobix.com'>Orobix Srl</a>) &amp; David A. Steinman
    </div>
  </div>
</body>
</html>
